[Unit]
Description=Copyparty file server

[Container]
Image=docker.io/copyparty/ac:1.20.24
ContainerName=copyparty
PublishPort=3923:3923
Volume=/var/mnt/data/copyparty:/w:Z
Volume=%h/.config/orches/repo/copyparty.conf:/cfg/copyparty.conf:z
Secret=copyparty_private,type=mount
X-Version=1

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
