[Unit]
Description=Immich Redis
Requires=immich-network.service
After=immich-network.service

[Container]
Image=docker.io/valkey/valkey:9@sha256:70739f85ad2ee01a726a965584a0f94895f01b0c60b3cc8b0aeef11eaa6888cf
ContainerName=immich_redis
Network=immich.network
NetworkAlias=immich-redis

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
